body{
    background-color: #24353f;
}
.container{
    background-color: #24353f;
    box-shadow: -3px 2px 54px -5px rgba(0, 0, 0, 1);
}
.container h1{
    color: #17a2b8;
    
}
/* input{
    background-color: transparent !important;
    color: #fff !important;
   
 }
 */
.container .btn:hover{
    color: #fff;
    background-color: #17a2b8;
}
 .container p a:hover{
    text-decoration: underline !important;
 }
    

 /*home login*/
 .welcome .container{
    color: #17a2b8;
 }